{% extends './base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About Us{% endblock %}</title>
</head>
<body>

{% block content %}

    <!-- ==================== Start Slider ==================== -->

    <header class="pages-header circle-bg valign">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="cont mt-100 mb-50 text-center">
                        <h1 class="color-font fw-700">Our dedicated team of creatives is bursting with talent,
                            experience and passion for what we do.</h1>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="img">
                        <img src="{% static 'img/slid/about.jpg' %}" alt="" style="border-radius: 20%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="half sub-bg">
            <div class="circle-color">
                <div class="gradient-circle"></div>
                <div class="gradient-circle two"></div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->



    <!-- ==================== Start Intro ==================== -->

    <section class="intro-section section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="htit sm-mb30">
                        <h4>Who We Are ?</h4>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1 col-md-8">
                    <div class="text">
                        <p class="wow txt mb-10" data-splitting="">We develop creative solutions for small and big brands
                            alike,
                            build authentic product
                            identities and much more. There is no limit to what we can build, Just name it and we'll build it.</p>
                        <p class="wow txt" data-splitting="">From high tech Adaptible solutions to small scale businesses. 
                            We can create a solution that can accomodate millions of subscribers at once.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Intro ==================== -->



    <!-- ==================== Start Services ==================== -->

    <section class="services bords lficon section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head  text-center">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">Best Features</h6>
                        <h3 class="wow color-font">We are a Full stack development agency, so you need nothing else.</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="item-box">
                        <div>
                            <span class="icon pe-7s-paint-bucket"></span>
                        </div>
                        <div class="cont">
                            <h6>Graphic Design</h6>
                            <p>With professional skills in Abobe Photoshop,  Adobe XD and Figma, your designs are 
                                covered.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".7s">
                    <div class="item-box">
                        <div>
                            <span class="icon pe-7s-phone"></span>
                        </div>
                        <div class="cont">
                            <h6>Web & Mobile Design</h6>
                            <p>Javascript React and React Native for Web and Mobile respectfully, your are covered on all frontends.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box">
                        <div>
                            <span class="icon pe-7s-display1"></span>
                        </div>
                        <div class="cont">
                            <h6>Backend and Security conciousness</h6>
                            <p>Python Django is the go to for our backend framework. The most secure framework 
                                according to The Forum of Incident Response and Security Teams (FIRST).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="item-box">
                        <div>
                            <span class="icon pe-7s-diskette"></span>
                        </div>
                        <div class="cont">
                            <h6>Document Legal Policy</h6>
                            <p>We abide by the tax laws of your region and we therefore demand you pay your 
                                VAT according to your countries legal codes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Services ==================== -->



    <!-- ==================== Start block-sec ==================== -->

    <section class="block-sec">
        <div class="background bg-img pt-100 pb-0 parallaxie" data-background="{% static 'img/bg-vid.jpg' %}" data-overlay-dark="5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="vid-area">
                            <span class="text">Watch Video</span>
                            <div class="vid-icon">
                                <a class="vid" href="https://vimeo.com/127203262">
                                    <div class="vid-butn">
                                        <span class="icon">
                                            <i class="fas fa-play"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="testim-box">
                            <div class="head-box">
                                <h6 class="wow fadeIn" data-wow-delay=".5s">Our Clients</h6>
                                <h4 class="wow fadeInLeft" data-wow-delay=".5s">What Client's Say?</h4>
                            </div>
                            <div class="slic-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="item">
                                    <p>Canon was just the right guy for the Job.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'img/clients/1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Alex Regelman</h6>
                                                <span class="author-details">Mr. Bee games and entertainment</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>I found him to be very attentive, this made me comfortable explaining what I needed to him.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'img/clients/2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Katherine Chamberlain</h6>
                                                <span class="author-details">Chamberlain stores</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>His service was worth more than I paid for.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'img/clients/3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Muskiv Chugrov</h6>
                                                <span class="author-details">Hos aspana</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End block-sec ==================== -->



    <!-- ==================== Start Skills Circle ==================== -->

    <section class="skills-circle sub-bg pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item wow fadeInLeft" data-wow-delay=".6">
                                    <div class="skill" data-value="0.9">
                                        <span class="custom-font">90%</span>
                                    </div>
                                    <div class="cont">
                                        <span>Project</span>
                                        <h6>Consulting</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item wow fadeInLeft" data-wow-delay=".3">
                                    <div class="skill" data-value="0.85">
                                        <span class="custom-font">85%</span>
                                    </div>
                                    <div class="cont">
                                        <span>App</span>
                                        <h6>Development</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Skills Circle ==================== -->



    <!-- ==================== Start Team ==================== -->

    <div class="team-crv section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 valign">
                    <div class="content wow fadeInUp md-mb30" data-wow-delay=".5s">
                        <div class="sub-title">
                            <h6>Our Staff</h6>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h3 class="co-tit mb-15">We help to create
                            visual strategies.</h3>
                        <p>We are Vie. We create award-winning websites, remarkable brands and cutting-edge
                            apps and more.</p>
                        <div class="skills-box mt-40">
                            <div class="skill-item">
                                <h6 class="custom-font">UI / UX Design</h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="90%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6 class="custom-font">Apps Development</h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="85%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="img-box">
                        <div class="row">
                            <div class="col-sm-6 toright">
                                <div class="full-width">
                                    <div class="img sizxl mb-30" data-tooltip-tit="Stephanie Lawrence" data-tooltip-sub="CEO, Colabrio Media">
                                        <img src="{% static 'img/team/1.jpg' %}" alt="" class="imago wow">
                                    </div>
                                    <div class="img sizmd" data-tooltip-tit="Alex Regelman" data-tooltip-sub="Co-Founder, Colabrio Media">
                                        <img src="{% static 'img/team/2.jpg' %}" alt="" class="imago wow">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 toleft valign">
                                <div class="full-width text-left">
                                    <div class="img sizmd mb-30" data-tooltip-tit="Stacey Stamper" data-tooltip-sub="Network Partner, Colabrio Media">
                                        <img src="{% static 'img/team/3.jpg' %}" alt="" class="imago wow">
                                    </div>
                                    <div class="img sizsm" data-tooltip-tit="Stephanie Lawrence" data-tooltip-sub="CEO, Colabrio Media">
                                        <img src="{% static 'img/team/4.jpg' %}" alt="" class="imago wow">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==================== End Team ==================== -->



    <!-- ==================== Start Minimal-Area ==================== -->

    <section class="min-area sub-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img">
                        <img class="thumparallax-down" src="{% static 'img/min-area.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 valign">
                    <div class="content pt-0">
                        <h4 class="wow color-font">About us.</h4>
                        <p class="wow txt" data-splitting="">Our creative Ad agency is ranked among the finest on Fiverr.
                             We cultivate smart ideas for start-ups and seasoned players.
                        </p>
                        <ul class="feat">
                            <li class="wow fadeInUp" data-wow-delay=".2s">
                                <h6><span>1</span> Our Mission</h6>
                                <p>To always bring the best</p>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".4s">
                                <h6><span>2</span> Our Goals</h6>
                                <p>Giving your brand value</p>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".6s">
                                <h6><span>3</span> Why Us? </h6>
                                <p>We've got everything you need</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Minimal-Area ==================== -->



    <!-- ==================== Start clients Brands ==================== -->

    <section class="clients section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 valign md-mb50">
                    <div class="sec-head mb-0">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">Best Features</h6>
                        <h3 class="wow mb-20 color-font">Our Clients</h3>
                        <p>Our area of practice is quite wide: design, graphics, branding, development.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <div class="row bord">
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/01.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".6s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/02.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".8s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/03.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/04.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-6 brands sm-mb30">
                                <div class="item wow fadeIn" data-wow-delay=".4s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/05.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands sm-mb30">
                                <div class="item wow fadeIn" data-wow-delay=".7s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/06.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".5s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/07.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'img/clients/brands/08.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting="">www.Vie.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End clients Brands ==================== -->



    <!-- ==================== Start call-to-action ==================== -->

    <section class="call-action section-padding bg-img" data-background="{% static 'img/patrn.svg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content sm-mb30">
                        <h6 class="wow" data-splitting="">Let’s Talk</h6>
                        <h2 class="wow" data-splitting="">about your <br> <b class="back-color">next project</b>.</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 valign">
                    <a href="{% url 'contactpage' %}" class="butn bord curve wow fadeInUp" data-wow-delay=".5s"><span>Get In
                            Touch</span></a>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End call-to-action ==================== -->


</body>

</html>
{% endblock %}