{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest">
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->



    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{% static 'img/happy_bee.png' %}" alt="logo" style="border-radius: 50%; background-color: rgba(1, 38, 63, 0.863);">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Main Home</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutpage' %}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Works</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="cryptocapitalz.com" target="_blank">Crypto capitalz</a>
                            <a class="dropdown-item" href="https://github.com/drizzle042/Packed-bitcoin-app" target="_blank">Packed Bitcoinc</a>
                            <a class="dropdown-item" href="https://github.com/drizzle042/soundchef" target="_blank">Sound Chef</a>
                            <a class="dropdown-item" href="https://github.com/drizzle042/earnbigtime" target="_blank">Earn Big Time</a>
                            <a class="dropdown-item" href="https://github.com/drizzle042/Albums-App" target="_blank">Albums App</a>
                            <a class="dropdown-item" href="https://github.com/drizzle042/react-blog" target="_blank">React Blog</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactpage' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ==================== End Navbar ==================== -->

{% block content %}
{% endblock %}



        <!-- ==================== Start Footer ==================== -->

        <footer class="sub-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item md-mb50">
                            <div class="title">
                                <h5>Contact Us</h5>
                            </div>
                            <ul>
                                <li>
                                    <span class="icon pe-7s-map-marker"></span>
                                    <div class="cont">
                                        <h6>Officeal Address</h6>
                                        <p>504 White St . Dawsonville,
                                            GA 30534 , New York</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-mail"></span>
                                    <div class="cont">
                                        <h6>Email Us</h6>
                                        <p><a href="mailto:chukwujiobicanon@gmail.com">chukwujiobicanon@gmail.com</a></p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-call"></span>
                                    <div class="cont">
                                        <h6>Call Us</h6>
                                        <p>+234 70 606 200 84</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item md-mb50">
                            <div class="title">
                                <h5>Recent News</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="img">
                                        <img src="{% static 'img/blog/1.jpg' %}" alt="">
                                    </div>
                                    <div class="sm-post">
                                        <p>The Start-Up Ultimate Guide to Make Your WordPress
                                            Journal.</p>
                                        <span class="date">14 sep 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img src="{% static 'img/blog/2.jpg' %}" alt="">
                                    </div>
                                    <div class="sm-post">
                                        <p>The Start-Up Ultimate Guide to Make Your WordPress
                                            Journal.</p>
                                        <span class="date">14 sep 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="subscribe">
                                        <input type="text" placeholder="Type Your Email">
                                        <span class="subs pe-7s-paper-plane"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="logo">
                                <img src="{% static 'img/logo-light.png' %}" alt="">
                            </div>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="copy-right">
                                <p>© 2021, Vie Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End Footer ==================== -->


    </div>






    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>

    <!-- plugins -->
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>